h1{
    text-align: center;
    color: rgb(201, 198, 214);
}
body{
    width:60%;
    height: 200px;
    background: rgb(0, 0, 0);
    box-shadow: rgba(5, 40, 56, 0.829);
}
h2{
    color:rgb(197, 166, 197)
}
.Cuadro{
    margin: auto;
    padding: 10px 20px;
    background-color: transparent;
    border-color: rgb(12, 247, 247);
    visibility: visible;
}
